{
    "SERVICE_ONE": "http://localhost:8000",
    "SERVICE_TWO": "http://localhost:8001",
    "JWK_KID": "kid",
    "JWK_SYMETRIC_KEY_URL": "http://localhost:8000/symetric",
    "JWK_URL": "http://localhost:8000/jwks",
    "JWK_ALG": "RS256",
    "GLOBAL_TIMEOUT": "2s"
}